* {
    margin:0;
    padding: 0 auto;
}

.container {
    display: flex;
    width:100%;
    height:100vh;
    justify-content: center;
    align-items: center;
    background-color: #000;;
}

#calculator {
    border: 1px solid #ddd;
    border-radius: 10px;
    width: 240px;
    padding: 10px;
    margin: 0 auto;
    text-align: center;
}

#display {
    background-color: #eee;
    padding: 10px;
    font-size: 18px;
    height:20px;
    width:220px;
    margin-bottom: 5px;
    border-radius: 10px;
}

#buttons {
    display: flex;
    flex-wrap: wrap;
}

button {
    width: 50px;
    height: 50px;
    margin: 5px;
    border: 1px solid #ddd;
    border-radius: 20px;
    background-color: #000;
    color:#fff;
    font-size: 16px;
    font-weight:700;
    cursor: pointer;
}
.operator {
    background-color: #7d7eec;
}
.clear {
    background-color: #808080;
}