* {
    margin: 0;
    padding: 0 auto;
}
body {
    font-size: 22pt;
    color:#fff;
    background-color:#161A30;
}
.nav {
    display:flex;
    position: fixed;
    top:50%;
    right:50px;
    transform: translateY(-50%);
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.nav-button {
    height:60px;
    width:60px;
    min-width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: none;
    margin: 10px;
    background-color: #808080;
}
.nav-button:hover,.active {
    border:1px solid #fff;
}
.nav-button img {
    height:30px;
    width:30px;
}
.content {
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    margin-top: 50px;
}
.intro {
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
}
.intro p{
    width:50%;
    margin: 50px;
    text-align: justify;
    border: 1px solid #fff;
    border-radius: 20px;
    padding: 50px;
}
@media(max-width:900px) {
    .nav {
        flex-direction:row;
        position: fixed;
        height:80px;
        width:100%;
        justify-content: center;
        align-items: flex-end;
        background-color: #161A30;
        right:0px;
        bottom: 0%;
        top: auto;
        transform: none;
    }
    .intro p {
        height: 300px;
        overflow: scroll;
    }
}