* {
    margin: 0;
    padding: 0 auto;
}
body {
    font-size: 12pt;
    color:#000;
    background-color:#161A30;
}
.header {
    display: flex;
    width:100%;
    height:100dvh;
}
.nav {
    display:flex;
    position: fixed;
    top:50%;
    right:50px;
    transform: translateY(-50%);
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.nav-button {
    height:60px;
    width:60px;
    min-width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: none;
    margin: 10px;
    background-color: #808080;
}
.nav-button:hover,.active {
    border:1px solid #fff;
}
.nav-button img {
    height:30px;
    width:30px;
}
@media(max-width:900px) {
    .nav {
        flex-direction:row;
        position: fixed;
        height:100vh;
        width:100%;
        justify-content: center;
        align-items: flex-end;
        background-color: #161A30;
        right:0px;
    }
}