* {
    margin: 0;
    padding: 0 auto;
}
body {
    font-size: 22pt;
    color:#fff;
    background-color:#161A30;
}
.nav {
    display:flex;
    position: fixed;
    top:50%;
    right:50px;
    transform: translateY(-50%);
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.nav-button {
    height:60px;
    width:60px;
    min-width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: none;
    margin: 10px;
    background-color: #808080;
}
.active {
    border:2px solid #fff;
}
.nav-button img {
    height:30px;
    width:30px;
}
.heading {
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    margin-top: 50px;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    flex-wrap:wrap ;
}
.container p{
    width:50%;
    margin: 50px;
    text-align: justify;
    border: 1px solid #fff;
    border-radius: 20px;
    padding: 50px;
}
.box {
    height:190px;
    width:190px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.box h1 {
    font-size: 80pt;
    color:#adff2f;
}
.box h1:hover {
    color:#adff2f;
}
.box:hover {
    scale: 1.10;
}
.footer {
    width:100%;
    height:50px;
}
span {
    color:#adff2f;
}
.pie {
    height:70vh;
    width:100%;
}
.lbox {
    height:400px;
    width:400px;
    border:1px solid #808080;
    border-radius: 20px;
    overflow: hidden;
    margin: 50px;
    text-align: center;
    transition: .3s ease-in-out;
}
.lbox:hover {
    height:460px;
    transition: .3s ease-in-out;
}
.lbox a {
    text-decoration: none;
    text-transform: uppercase;
    color:#fff;
}
.lbox img{
    height: 400px;
    width:400px;
    opacity: .7;
}
.lbox img:hover {
    opacity: 1;
}
@media(max-width:900px) {
    .nav {
        flex-direction:row;
        position: fixed;
        height:80px;
        width:100%;
        justify-content: center;
        align-items: flex-end;
        background-color: #161A30;
        right:0px;
        bottom: 0%;
        top: auto;
        transform: none;
    }
    .container p {
        height: 300px;
        overflow: scroll;
    }
    .lbox {
        height:460px;
    }
}