* {
    margin: 0;
    padding: 0 auto;
}
body {
    font-size: 12pt;
    color:#000;
}
.header {
    width:100%;
    display: flex;
    background-color: aquamarine;
}
.left {
    width:20%;
    height:100dvh;
    background-color: bisque;
}
.right {
    width:80%;
    background-color:aqua;
}
.profile {
    width:400px;
    height:500px;
    position: absolute;
    top:20%;
    left: 10%;
    border: 2px solid #808080;
}