* {
    margin: 0;
    padding: 0 auto;
}
body {
    font-size: 12pt;
    color:#000;
}
.header {
    width:100%;
    display: flex;
    background-color: aquamarine;
}
.left {
    width:50%;
    height:100dvh;
    background-color: bisque;
}
.right {
    width:50%;
    background-color:aqua;
}