body {
    margin:0px;
    min-height: 100%;
    display:block;
}
.fixed-top {
    position: fixed;
    top: 0;
    display: block;
    background: #fff;
    z-index: 1;
}
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between!important;
    align-items: center!important;
    width: 100vw;
    margin: 10px;
}
.container * {
    padding:10px;
}
.logo {
    font-size: 32px;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-weight: 700;
    letter-spacing: 0.5px;
}
.logo span {
    color:red;
}
a {
    text-decoration: none;
    color:#000
}
.navbar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background-color: #cbdadf;
    border-radius: 50px;
}
.navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
    text-transform: uppercase;
}
.active {
    color:red;
}
.navbar li {
    font-size: 14pt;
    font-weight: bold;
    padding: 5px 15px;
}
.cover {
    width:100%;
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #8EC5FC;
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
}
.cover-text {
    height:300px;
    width:700px;
    padding: 20px;
    font-size: 30pt;
    color:brown;
    text-align: center;
    font-family: 'Shadows Into Light', cursive;
}
.cover-text p {
    font-size: 18pt;
}
.about {
    width:100%;
    height:100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.about fieldset {
    width:500px;
    padding:50px;
    margin: 20px;
    font-size: 16pt;
}
.service {
    width:100%;
    display:flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap:10px;
    margin-bottom: 20px;
}
.service-box {
    width:300px;
    height: 200px;
    padding: 20px;
    border:1px solid gray;
    border-radius: 20px;
}
#footer {
    width:100%;
    height:50px;
    background-color: #000;
}