body {
    margin:0px;
    min-height: 100%;
    display:block;
}
#header {
    display: block;
    background: #fff;
    z-index: 1;

}
.fixed-top {
    position: fixed;
    top: 0;
}
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between!important;
    align-items: center!important;
    width: 100vw;
    margin: 20px 10px 0px 10px;
}
.container * {
    padding:10px;
}
.logo {
    font-size: 32px;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-weight: 700;
    letter-spacing: 0.5px;
}
.logo span {
    color:red;
}
a {
    text-decoration: none;
    color:#000
}
.navbar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background-color: #D2E3C8;
}
.navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
    text-transform: uppercase;
}
.active {
    color:red;
}
.navbar li {
    font-size: 14pt;
    font-weight: bold;
    padding: 5px 15px;
}
.cover {
    width:100vw;
    height:100vh;
    background-image: url();
}